In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./../../Dataset/data-week-2/lang_iden_combined.csv')

In [4]:
df.head()

   Unnamed: 0 lang                                               text
0           0   en     But many have tried to supply missing details.
1           1   en  Jaish-e-Mohammed (JeM) control rooms were also...
2           2   en         He declined to speak further on the issue.
3           3   en  In Haryana, there are over 1.83 crore voters, ...
4           4   en         Therefore, this has to be done cautiously.

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
encoder = LabelEncoder()
df["language_id"] = encoder.fit_transform(df["lang"])
print(encoder.classes_)
print(df["language_id"].unique())
df.head()

['en' 'gu' 'hi' 'ml' 'pa']
[0 1 2 3 4]

,Unnamed: 0,lang,text,language_id
0,0,en,But many have tried to supply missing details.,0
1,1,en,Jaish-e-Mohammed (JeM) control rooms were also...,0
2,2,en,He declined to speak further on the issue.,0
3,3,en,"In Haryana, there are over 1.83 crore voters, ...",0
4,4,en,"Therefore, this has to be done cautiously.",0

In [8]:
X = df['text']
Y = df['language_id']
x_train , x_test , y_train, y_test = train_test_split(X, Y, test_size=0.2,random_state=42)

In [9]:
train_class_count = y_train.value_counts()
test_class_count = y_test.value_counts()
print(train_class_count)
print(test_class_count)

language_id
0    167
2    163
3    162
4    156
1    152
Name: count, dtype: int64
language_id
1    48
4    44
3    38
2    37
0    33
Name: count, dtype: int64

In [10]:
df.drop(columns = "Unnamed: 0",axis = 1, inplace = True)

In [11]:
df.head()

  lang                                               text  language_id
0   en     But many have tried to supply missing details.            0
1   en  Jaish-e-Mohammed (JeM) control rooms were also...            0
2   en         He declined to speak further on the issue.            0
3   en  In Haryana, there are over 1.83 crore voters, ...            0
4   en         Therefore, this has to be done cautiously.            0

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
vectorizer = CountVectorizer()
x_train = vectorizer.fit_transform(x_train)